.container-fluid{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 500px;
}

.formGroup{
    display: flex;
    justify-content: center;
    display: inline-block;
    align: center;
}
button{
    color: white;
    background-color: rgb(50, 161, 16);
    border: none;
    border-radius: 25px;
    height: 35px;
}
button:hover{
    background-color: #694cff;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

last-name::after{
    content: "*";
    color: red;

}



